<h1>Pedidos Actuales</h1>

<div ng-repeat="order in data_order" style="margin-left: 50px;">
	<h2>{{order.provider}}</h2>
	<div ng-repeat="product in order.products" style="margin-left: 80px;">
		{{product.name}}  
      <a ng-show="product.state == 'Listo'" href="" class="label label-warning"> {{product.state}} </a>
      <a ng-show="product.state == 'Cancelado'" href="" class="label label-danger ml-xs"> {{product.state}} </a>
      <a ng-show="product.state == 'Pendiente'" href="" class="label label-default ml-xs"> {{product.state}} </a>
	</div>
</div>