<h2>Gastos mensuales con tus proveedores</h2>
<br>
    <div>
        <canvas id="line" class="chart chart-line" chart-data="line_data" chart-labels="line_labels" chart-series="line_series" s chart-options="line_options" chart-dataset-override="datasetOverride" chart-click="onClick" height="90" width="250" style="display: inline-block;">
        </canvas>
    </div>
<div>
    <div style="display: inline-block; float: left; width: 80%; margin-top: 2%">
        <canvas id="pie" height="10" width="50" class="chart chart-pie" chart-data="doughnut_data" chart-labels="doughnut_labels" style="display: inline-block;">
        </canvas>
    </div>
    <div style="clear: left; margin-left: -25%; display: inline-block; margin-top: 3%">
    	<p ng-repeat="data in doughnut_data"> <span style="background-color:red; width: 20px">&nbsp;</span> <b>Proveedor {{$index+1}}:</b> ${{data}}</p>
    </div>
</div>
