<h1 class="page-title">{{app.title}}<small><small>{{app.desc}}</small></small></h1>

<div class="row">
  <div class="col-md-4 col-lg-4">
    <section class="widget">
      <header>
        <h4>
          Prueba <span class="fw-semi-bold">1</span>
        </h4>
        <div class="widget-controls">
          <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
          <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
          <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      <div class="widget-body">
        <p class="fs-mini">Widget body content. Could be lots of <a href="http://flatlogic.com">links</a> and <strong>other stuff</strong> here</p>
      </div>
    </section>
    <section class="widget">
      <header>
        <h4>
          Prueba <span class="fw-semi-bold">2</span>
        </h4>
        <div class="widget-controls">
          <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
          <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
          <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      <div class="widget-body">
        <p class="fs-mini">Widget body content. Could be lots of <a href="http://flatlogic.com">links</a> and <strong>other stuff</strong> here</p>
      </div>
    </section>
    <section class="widget">
      <header>
        <h4>
          Prueba <span class="fw-semi-bold">2</span>
        </h4>
        <div class="widget-controls">
          <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
          <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
          <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      <div class="widget-body">
        <p class="fs-mini">Widget body content. Could be lots of <a href="http://flatlogic.com">links</a> and <strong>other stuff</strong> here</p>
      </div>
    </section>
    <section class="widget">
      <header>
        <h4>
          Prueba <span class="fw-semi-bold">2</span>
        </h4>
        <div class="widget-controls">
          <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
          <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
          <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      <div class="widget-body">
        <p class="fs-mini">Widget body content. Could be lots of <a href="http://flatlogic.com">links</a> and <strong>other stuff</strong> here</p>
      </div>
    </section>
    <section class="widget">
      <header>
        <h4>
          Prueba <span class="fw-semi-bold">2</span>
        </h4>
        <div class="widget-controls">
          <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
          <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
          <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      <div class="widget-body">
        <p class="fs-mini">Widget body content. Could be lots of <a href="http://flatlogic.com">links</a> and <strong>other stuff</strong> here</p>
      </div>
    </section>
  </div>
  <div class="col-md-4 col-lg-4">
    <section class="widget">
      <header>
        <h4>
          Prueba <span class="fw-semi-bold">1</span>
        </h4>
        <div class="widget-controls">
          <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
          <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
          <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      <div class="widget-body">
        <p class="fs-mini">Widget body content. Could be lots of <a href="http://flatlogic.com">links</a> and <strong>other stuff</strong> here</p>
      </div>
    </section>
  </div>
  <div class="col-md-4 col-lg-4">
    <section class="widget">
      <header>
        <h4>
          Prueba <span class="fw-semi-bold">1</span>
        </h4>
        <div class="widget-controls">
          <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
          <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
          <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      <div class="widget-body">
        <p class="fs-mini">Widget body content. Could be lots of <a href="http://flatlogic.com">links</a> and <strong>other stuff</strong> here</p>
      </div>
    </section>
  </div>
</div>
